* {
    margin: 0;
    padding: 0;
}

#page {
    box-sizing: border-box;
    padding: 24px auto;
}

#p-initial1 {
    color: #E1624F;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 24px;
    padding-left: 110px;
}

#title-page p {
    padding-bottom: 8px;
}

#title-page h1 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 40px;
    padding-left: 110px;
}

#description {
    text-align: center;
}

#description img {
    width: 1120px;
    border-radius: 24px;
}

#description p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 40px;
}

#content-list #title-list #title h2 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 40px;
    padding-left: 110px;
}

#p-initial2 {
    color: #E1624F;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    padding-left: 110px;
}